11fe_20110909_Gemini_N_v2.dat
2701.dat
2701_flat.dat
J1234+7731calib_spec_dereddshifted.txt
J1234+7731calib_spec_dereddshifted_flat.txt
cal_SN2010ae_VLT_XS_15mar10.dat
cal_SN2010ae_VLT_XS_15mar10_flat.dat
fitweird.dat
fitweird_flat.dat
locnormt
locnormt.orig.dat
nirspec_clipped.dat
nirspec_data.dat
nirspec_flam.dat
nirspec_flat.dat
options.make
s2.dat
sn03gs.blue.15aug03.dat
sn03gs.blue.15aug03.fits
sn2002bj-20020307-os.flm
sn2002bj-20020307-os_flat.flm
spec0127a_unred_goobarvals.dat
spec0127a_unred_goobarvals_flat.dat
spec0204_highres_espadons_unred_goobarvals.dat
spec0204_highres_espadons_unred_goobarvals_flat.dat
spec0218_unred_goobarvals.dat
spec0218_unred_goobarvals_flat.dat
tmp
tmp2
tmp3
try.dat
try2.dat

